
/crash-reports
/local
/logs
icon.png
/dynamic-resource-pack-cache
/dynamic-data-pack-cache
config/iris.properties
/fancymenu_data
/emojiful/cache
/.mixin.out
/saves
/xaero
/saves
/spiffy_instance_data
/emojiful
/.mixin.out
/XaeroWaypoints_BACKUP240807
